<form action="/submit_form" method="post">
    <input type="hidden" name="authenticity_token" value="UHQSKXCaFqy_aoK760zpSMUPy6TMnsLNgbPMABwN1zpW-Jx6k-2mISiF0ulZOINmfxPdg5xMyZqdxSW1UK-H-Q" autocomplete="off">
    <label for="book_title">Add Book to your bucket</label>
    <input type="text" name="book">

    <label for="book_description">Add Description</label>
    <input type="text" name="description">

    <input type="submit" value="Add Book">
</form>